BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# ULX3S-style ECP5 CABGA381 board pins.
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 50 MHz;

LOCATE COMP "rst_n" SITE "D6";
IOBUF PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "L4";
LOCATE COMP "uart_rx" SITE "M1";
IOBUF PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "gpio_in[0]" SITE "E8";
LOCATE COMP "gpio_in[1]" SITE "D8";
LOCATE COMP "gpio_in[2]" SITE "D7";
LOCATE COMP "gpio_in[3]" SITE "E7";
IOBUF PORT "gpio_in[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "gpio_out[0]" SITE "E4";
LOCATE COMP "gpio_out[1]" SITE "D3";
LOCATE COMP "gpio_out[2]" SITE "C3";
LOCATE COMP "gpio_out[3]" SITE "B3";
LOCATE COMP "gpio_out[4]" SITE "A3";
LOCATE COMP "gpio_out[5]" SITE "B5";
LOCATE COMP "gpio_out[6]" SITE "D5";
LOCATE COMP "gpio_out[7]" SITE "C5";
IOBUF PORT "gpio_out[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpio_out[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "status_led[0]" SITE "B2";
LOCATE COMP "status_led[1]" SITE "C2";
LOCATE COMP "status_led[2]" SITE "C1";
LOCATE COMP "status_led[3]" SITE "D2";
IOBUF PORT "status_led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "status_led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "status_led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "status_led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "capsule_event_seen" SITE "D1";
LOCATE COMP "recorder_overflow_seen" SITE "E2";
LOCATE COMP "recorder_status_xor" SITE "E1";
IOBUF PORT "capsule_event_seen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "recorder_overflow_seen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "recorder_status_xor" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
