FREQUENCY PORT "clk" 50 MHz;

IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

IOBUF PORT "gpio_in[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_in[3]" IO_TYPE=LVCMOS33;

IOBUF PORT "gpio_out[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio_out[7]" IO_TYPE=LVCMOS33;

IOBUF PORT "status_led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "status_led[3]" IO_TYPE=LVCMOS33;

IOBUF PORT "capsule_event_seen" IO_TYPE=LVCMOS33;
IOBUF PORT "recorder_overflow_seen" IO_TYPE=LVCMOS33;
IOBUF PORT "recorder_status_xor" IO_TYPE=LVCMOS33;
